<h2 class ="heading"> OUR SERVICES </h2>
<section class="contact-block">
  

<div class="container">
<div class="gap">
</div>





<div class="col-md-3 col-sm-3 col-xs-6">
<ul class="category-subservice-list">
<li class=" hoverable valign-wrapper">
<a href="/service_details/air-conditioner">
<img  src="https://www.serviceonwheel.com/uploads/service/530771670303201.png" alt="Air Conditioner"  class="circle">
<span >
<span>
<h3 itemprop="name">Air Conditioner</h3>
<span itemprop="description" style="display:none"></span>
</span>
</span>

</a>
</li>
</ul>
</div>


<div class="col-md-3 col-sm-3 col-xs-6">
<ul class="category-subservice-list">
<li class=" hoverable valign-wrapper">
<a href="bhopal/service/refrigerator.html">
<img  src="https://www.serviceonwheel.com/uploads/service/793741670309606.png" alt="Refrigerator" class="circle">
<span >
<span>
<h3 itemprop="name">Refrigerator</h3>
<span itemprop="description" style="display:none"></span>
</span>
</span>

</a>
</li>
</ul>
</div>


<div class="col-md-3 col-sm-3 col-xs-6">
<ul class="category-subservice-list">
<li class=" hoverable valign-wrapper">
<a href="bhopal/service/washing-machine.html">
<img  src="https://www.serviceonwheel.com/uploads/service/251981670309575.png" alt="Washing machine" class="circle">
<span >
<span>
<h3 itemprop="name">Washing machine</h3>
<span itemprop="description" style="display:none"></span>
</span>
</span>

</a>
</li>
</ul>
</div>


<div class="col-md-3 col-sm-3 col-xs-6">
<ul class="category-subservice-list">
<li class=" hoverable valign-wrapper">
<a href="bhopal/service/microwave-oven.html">
<img  src="https://www.serviceonwheel.com/uploads/service/962211670309545.png" alt="Microwave oven" class="circle">
<span >
<span>
<h3 itemprop="name">Microwave oven</h3>
<span itemprop="description" style="display:none"></span>
</span>
</span>

</a>
</li>
</ul>
</div>


<div class="col-md-3 col-sm-3 col-xs-6">
<ul class="category-subservice-list">
<li class=" hoverable valign-wrapper">
<a href="bhopal/service/water-purifier.html">
<img  src="https://www.serviceonwheel.com/uploads/service/578261670309501.png" alt="Water purifier" class="circle">
<span >
<span>
<h3 itemprop="name">Water purifier</h3>
<span itemprop="description" style="display:none"></span>
</span>
</span>

</a>
</li>
</ul>
</div>


<div class="col-md-3 col-sm-3 col-xs-6">
<ul class="category-subservice-list">
<li class=" hoverable valign-wrapper">
<a href="bhopal/service/geyser.html">
<img  src="https://www.serviceonwheel.com/uploads/service/54511670307655.png" alt="Geyser" class="circle">
<span >
<span>
<h3 itemprop="name">Geyser</h3>
<span itemprop="description" style="display:none"></span>
</span>
</span>

</a>
</li>
</ul>
</div>


<div class="col-md-3 col-sm-3 col-xs-6">
<ul class="category-subservice-list">
<li class=" hoverable valign-wrapper">
<a href="bhopal/service/kitchen-chimney.html">
<img  src="https://www.serviceonwheel.com/uploads/service/914761670307602.png" alt="Kitchen Chimney" class="circle">
<span >
<span>
<h3 itemprop="name">Kitchen Chimney</h3>
<span itemprop="description" style="display:none"></span>
</span>
</span>

</a>
</li>
</ul>
</div>


<div class="col-md-3 col-sm-3 col-xs-6">
<ul class="category-subservice-list">
<li class=" hoverable valign-wrapper">
<a href="bhopal/service/tv-repair.html">
<img  src="https://www.serviceonwheel.com/uploads/service/782821670307558.png" alt="TV Repair" class="circle">
<span >
<span>
<h3 itemprop="name">TV Repair</h3>
<span itemprop="description" style="display:none"></span>
</span>
</span>

</a>
</li>
</ul>
</div>


<div class="col-md-3 col-sm-3 col-xs-6">
<ul class="category-subservice-list">
<li class=" hoverable valign-wrapper">
<a href="bhopal/service/plumber.html">
<img  src="https://www.serviceonwheel.com/uploads/service/463041670415979.png" alt="Plumber" class="circle">
<span >
<span>
<h3 itemprop="name">Plumber</h3>
<span itemprop="description" style="display:none"></span>
</span>
</span>

</a>
</li>
</ul>
</div>


<div class="col-md-3 col-sm-3 col-xs-6">
<ul class="category-subservice-list">
<li class=" hoverable valign-wrapper">
<a href="bhopal/service/carpenter.html">
<img  src="https://www.serviceonwheel.com/uploads/service/308121670306867.png" alt="Carpenter" class="circle">
<span >
<span>
<h3 itemprop="name">Carpenter</h3>
<span itemprop="description" style="display:none"></span>
</span>
</span>

</a>
</li>
</ul>
</div>


<div class="col-md-3 col-sm-3 col-xs-6">
<ul class="category-subservice-list">
<li class=" hoverable valign-wrapper">
<a href="bhopal/service/electrician.html">
<img  src="https://www.serviceonwheel.com/uploads/service/734311670304344.png" alt="Electrician" class="circle">
<span >
<span>
<h3 itemprop="name">Electrician</h3>
<span itemprop="description" style="display:none"></span>
</span>
</span>

</a>
</li>
</ul>
</div>


<div class="col-md-3 col-sm-3 col-xs-6">
<ul class="category-subservice-list">
<li class=" hoverable valign-wrapper">
<a href="bhopal/service/pest-control.html">
<img  src="https://www.serviceonwheel.com/uploads/service/496481670311713.png" alt="Pest control" class="circle">
<span >
<span>
<h3 itemprop="name">Pest control</h3>
<span itemprop="description" style="display:none"></span>
</span>
</span>

</a>
</li>
</ul>
</div>


<div class="col-md-3 col-sm-3 col-xs-6">
<ul class="category-subservice-list">
<li class=" hoverable valign-wrapper">
<a href="bhopal/service/sanitization.html">
<img  src="https://www.serviceonwheel.com/uploads/service/967151670309225.png" alt="Sanitization" class="circle">
<span >
<span>
<h3 itemprop="name">Sanitization</h3>
<span itemprop="description" style="display:none"></span>
</span>
</span>

</a>
</li>
</ul>
</div>


<div class="col-md-3 col-sm-3 col-xs-6">
<ul class="category-subservice-list">
<li class=" hoverable valign-wrapper">
<a href="bhopal/service/nail-artist.html">
<img  src="https://www.serviceonwheel.com/uploads/service/342191670412081.png" alt="Nail Artist" class="circle">
<span >
<span>
<h3 itemprop="name">Nail Artist</h3>
<span itemprop="description" style="display:none"></span>
</span>
</span>

</a>
</li>
</ul>
</div>


<div class="col-md-3 col-sm-3 col-xs-6">
<ul class="category-subservice-list">
<li class=" hoverable valign-wrapper">
<a href="bhopal/service/mobile-repair-and-services.html">
<img  src="https://www.serviceonwheel.com/uploads/default_service.png" alt="Mobile Repair and Services" class="circle">
<span >
<span>
<h3 itemprop="name">Mobile Repair and Services</h3>
<span itemprop="description" style="display:none"></span>
</span>
</span>

</a>
</li>
</ul>
</div>


<div class="col-md-3 col-sm-3 col-xs-6">
<ul class="category-subservice-list">
<li class=" hoverable valign-wrapper">
<a href="bhopal/service/beauty-salon.html">
<img  src="https://www.serviceonwheel.com/uploads/service/299021670313076.png" alt="Beauty salon" class="circle">
<span >
<span>
<h3 itemprop="name">Beauty salon</h3>
<span itemprop="description" style="display:none"></span>
</span>
</span>

</a>
</li>
</ul>
</div>


<div class="col-md-3 col-sm-3 col-xs-6">
<ul class="category-subservice-list">
<li class=" hoverable valign-wrapper">
<a href="bhopal/service/computer-repair.html">
<img  src="https://www.serviceonwheel.com/uploads/service/763121670307429.png" alt="Computer Repair" class="circle">
<span >
<span>
<h3 itemprop="name">Computer Repair</h3>
<span itemprop="description" style="display:none"></span>
</span>
</span>

</a>
</li>
</ul>
</div>


<div class="col-md-3 col-sm-3 col-xs-6">
<ul class="category-subservice-list">
<li class=" hoverable valign-wrapper">
<a href="bhopal/service/catering.html">
<img  src="https://www.serviceonwheel.com/uploads/service/211401670412838.png" alt="Catering" class="circle">
<span >
<span>
<h3 itemprop="name">Catering</h3>
<span itemprop="description" style="display:none"></span>
</span>
</span>

</a>
</li>
</ul>
</div>


<div class="col-md-3 col-sm-3 col-xs-6">
<ul class="category-subservice-list">
<li class=" hoverable valign-wrapper">
<a href="bhopal/service/stage-decoration.html">
<img  src="https://www.serviceonwheel.com/uploads/service/450641670412789.png" alt="Stage Decoration" class="circle">
<span >
<span>
<h3 itemprop="name">Stage Decoration</h3>
<span itemprop="description" style="display:none"></span>
</span>
</span>

</a>
</li>
</ul>
</div>


<div class="col-md-3 col-sm-3 col-xs-6">
<ul class="category-subservice-list">
<li class=" hoverable valign-wrapper">
<a href="bhopal/service/event-management.html">
<img  src="https://www.serviceonwheel.com/uploads/service/878781670412745.png" alt="Event management" class="circle">
<span >
<span>
<h3 itemprop="name">Event management</h3>
<span itemprop="description" style="display:none"></span>
</span>
</span>

</a>
</li>
</ul>
</div>


<div class="col-md-3 col-sm-3 col-xs-6">
<ul class="category-subservice-list">
<li class=" hoverable valign-wrapper">
<a href="bhopal/service/civil-work.html">
<img  src="https://www.serviceonwheel.com/uploads/service/404631670309707.png" alt="Civil work" class="circle">
<span >
<span>
<h3 itemprop="name">Civil work</h3>
<span itemprop="description" style="display:none"></span>
</span>
</span>

</a>
</li>
</ul>
</div>


<div class="col-md-3 col-sm-3 col-xs-6">
<ul class="category-subservice-list">
<li class=" hoverable valign-wrapper">
<a href="bhopal/service/kitchen-appliances.html">
<img  src="https://www.serviceonwheel.com/uploads/service/460461670412206.png" alt="Kitchen Appliances" class="circle">
<span >
<span>
<h3 itemprop="name">Kitchen Appliances</h3>
<span itemprop="description" style="display:none"></span>
</span>
</span>

</a>
</li>
</ul>
</div>


<div class="col-md-3 col-sm-3 col-xs-6">
<ul class="category-subservice-list">
<li class=" hoverable valign-wrapper">
<a href="bhopal/service/deep-freezer.html">
<img  src="https://www.serviceonwheel.com/uploads/service/648341670303852.png" alt="Deep Freezer" class="circle">
<span >
<span>
<h3 itemprop="name">Deep Freezer</h3>
<span itemprop="description" style="display:none"></span>
</span>
</span>

</a>
</li>
</ul>
</div>


<div class="col-md-3 col-sm-3 col-xs-6">
<ul class="category-subservice-list">
<li class=" hoverable valign-wrapper">
<a href="bhopal/service/cleaning.html">
<img  src="https://www.serviceonwheel.com/uploads/service/464851674651280.jpg" alt="Cleaning" class="circle">
<span >
<span>
<h3 itemprop="name">Cleaning</h3>
<span itemprop="description" style="display:none"></span>
</span>
</span>

</a>
</li>
</ul>
</div>


<div class="col-md-3 col-sm-3 col-xs-6">
<ul class="category-subservice-list">
<li class=" hoverable valign-wrapper">
<a href="bhopal/service/water-cooler.html">
<img  src="https://www.serviceonwheel.com/uploads/service/830421670303993.png" alt="Water Cooler" class="circle">
<span >
<span>
<h3 itemprop="name">Water Cooler</h3>
<span itemprop="description" style="display:none"></span>
</span>
</span>

</a>
</li>
</ul>
</div>


<div class="col-md-3 col-sm-3 col-xs-6">
<ul class="category-subservice-list">
<li class=" hoverable valign-wrapper">
<a href="bhopal/service/inverter.html">
<img  src="https://www.serviceonwheel.com/uploads/service/34621670415862.png" alt="Inverter" class="circle">
<span >
<span>
<h3 itemprop="name">Inverter</h3>
<span itemprop="description" style="display:none"></span>
</span>
</span>

</a>
</li>
</ul>
</div>


<div class="col-md-3 col-sm-3 col-xs-6">
<ul class="category-subservice-list">
<li class=" hoverable valign-wrapper">
<a href="bhopal/service/elevator.html">
<img  src="https://www.serviceonwheel.com/uploads/service/73091670302187.png" alt="Elevator" class="circle">
<span >
<span>
<h3 itemprop="name">Elevator</h3>
<span itemprop="description" style="display:none"></span>
</span>
</span>

</a>
</li>
</ul>
</div>


<div class="col-md-3 col-sm-3 col-xs-6">
<ul class="category-subservice-list">
<li class=" hoverable valign-wrapper">
<a href="bhopal/service/home-painter.html">
<img  src="https://www.serviceonwheel.com/uploads/service/647771670309969.png" alt="Home Painter" class="circle">
<span >
<span>
<h3 itemprop="name">Home Painter</h3>
<span itemprop="description" style="display:none"></span>
</span>
</span>

</a>
</li>
</ul>
</div>


<div class="col-md-3 col-sm-3 col-xs-6">
<ul class="category-subservice-list">
<li class=" hoverable valign-wrapper">
<a href="bhopal/service/makeup-artist.html">
<img  src="https://www.serviceonwheel.com/uploads/service/836781670314052.png" alt="Makeup Artist" class="circle">
<span >
<span>
<h3 itemprop="name">Makeup Artist</h3>
<span itemprop="description" style="display:none"></span>
</span>
</span>

</a>
</li>
</ul>
</div>


<div class="col-md-3 col-sm-3 col-xs-6">
<ul class="category-subservice-list">
<li class=" hoverable valign-wrapper">
<a href="bhopal/service/air-cooler.html">
<img  src="https://www.serviceonwheel.com/uploads/service/890041670303552.png" alt="Air Cooler" class="circle">
<span >
<span>
<h3 itemprop="name">Air Cooler</h3>
<span itemprop="description" style="display:none"></span>
</span>
</span>

</a>
</li>
</ul>
</div>


<div class="col-md-3 col-sm-3 col-xs-6">
<ul class="category-subservice-list">
<li class=" hoverable valign-wrapper">
<a href="bhopal/service/interior-designer.html">
<img  src="https://www.serviceonwheel.com/uploads/service/705551670412628.png" alt="Interior Designer" class="circle">
<span >
<span>
<h3 itemprop="name">Interior Designer</h3>
<span itemprop="description" style="display:none"></span>
</span>
</span>

</a>
</li>
</ul>
</div>


<div class="col-md-3 col-sm-3 col-xs-6">
<ul class="category-subservice-list">
<li class=" hoverable valign-wrapper">
<a href="bhopal/service/fabrication.html">
<img  src="https://www.serviceonwheel.com/uploads/service/678541670310146.png" alt="Fabrication" class="circle">
<span >
<span>
<h3 itemprop="name">Fabrication</h3>
<span itemprop="description" style="display:none"></span>
</span>
</span>

</a>
</li>
</ul>
</div>


<div class="col-md-3 col-sm-3 col-xs-6">
<ul class="category-subservice-list">
<li class=" hoverable valign-wrapper">
<a href="bhopal/service/mehndi-artist.html">
<img  src="https://www.serviceonwheel.com/uploads/service/590491670314002.png" alt="Mehndi Artist" class="circle">
<span >
<span>
<h3 itemprop="name">Mehndi Artist</h3>
<span itemprop="description" style="display:none"></span>
</span>
</span>

</a>
</li>
</ul>
</div>


<div class="col-md-3 col-sm-3 col-xs-6">
<ul class="category-subservice-list">
<li class=" hoverable valign-wrapper">
<a href="bhopal/service/tattoo-artist.html">
<img  src="https://www.serviceonwheel.com/uploads/service/466081670412098.png" alt="Tattoo Artist" class="circle">
<span >
<span>
<h3 itemprop="name">Tattoo Artist</h3>
<span itemprop="description" style="display:none"></span>
</span>
</span>

</a>
</li>
</ul>
</div>


<div class="col-md-3 col-sm-3 col-xs-6">
<ul class="category-subservice-list">
<li class=" hoverable valign-wrapper">
<a href="bhopal/service/tours-amp-travels.html">
<img  src="https://www.serviceonwheel.com/uploads/service/561911676023643.jpg" alt="Tours & Travels" class="circle">
<span >
<span>
<h3 itemprop="name">Tours & Travels</h3>
<span itemprop="description" style="display:none"></span>
</span>
</span>

</a>
</li>
</ul>
</div>


<div class="col-md-3 col-sm-3 col-xs-6">
<ul class="category-subservice-list">
<li class=" hoverable valign-wrapper">
<a href="bhopal/service/texation-amp-legal.html">
<img  src="https://www.serviceonwheel.com/uploads/service/522211675918550.jpg" alt="Texation &  Legal" class="circle">
<span >
<span>
<h3 itemprop="name">Texation &  Legal</h3>
<span itemprop="description" style="display:none"></span>
</span>
</span>

</a>
</li>
</ul>
</div>


<div class="col-md-3 col-sm-3 col-xs-6">
<ul class="category-subservice-list">
<li class=" hoverable valign-wrapper">
<a href="bhopal/service/water-dispenser_1532.html">
<img  src="https://www.serviceonwheel.com/uploads/service/909131670302553.png" alt="Water Dispenser" class="circle">
<span >
<span>
<h3 itemprop="name">Water Dispenser</h3>
<span itemprop="description" style="display:none"></span>
</span>
</span>

</a>
</li>
</ul>
</div>


<div class="col-md-3 col-sm-3 col-xs-6">
<ul class="category-subservice-list">
<li class=" hoverable valign-wrapper">
<a href="bhopal/service/choreographer.html">
<img  src="https://www.serviceonwheel.com/uploads/service/524081670314104.png" alt="Choreographer" class="circle">
<span >
<span>
<h3 itemprop="name">Choreographer</h3>
<span itemprop="description" style="display:none"></span>
</span>
</span>

</a>
</li>
</ul>
</div>


<div class="col-md-3 col-sm-3 col-xs-6">
<ul class="category-subservice-list">
<li class=" hoverable valign-wrapper">
<a href="bhopal/service/cctv.html">
<img  src="https://www.serviceonwheel.com/uploads/service/491351670304038.png" alt="CCTV" class="circle">
<span >
<span>
<h3 itemprop="name">CCTV</h3>
<span itemprop="description" style="display:none"></span>
</span>
</span>

</a>
</li>
</ul>
</div>


<div class="col-md-3 col-sm-3 col-xs-6">
<ul class="category-subservice-list">
<li class=" hoverable valign-wrapper">
<a href="bhopal/service/room-cooler.html">
<img  src="https://www.serviceonwheel.com/uploads/service/442541670309656.png" alt="Room cooler" class="circle">
<span >
<span>
<h3 itemprop="name">Room cooler</h3>
<span itemprop="description" style="display:none"></span>
</span>
</span>

</a>
</li>
</ul>
</div>


<div class="col-md-3 col-sm-3 col-xs-6">
<ul class="category-subservice-list">
<li class=" hoverable valign-wrapper">
<a href="bhopal/service/pop-false-ceiling.html">
<img  src="https://www.serviceonwheel.com/uploads/service/645871670415887.png" alt="POP False ceiling" class="circle">
<span >
<span>
<h3 itemprop="name">POP False ceiling</h3>
<span itemprop="description" style="display:none"></span>
</span>
</span>

</a>
</li>
</ul>
</div>


<div class="col-md-3 col-sm-3 col-xs-6">
<ul class="category-subservice-list">
<li class=" hoverable valign-wrapper">
<a href="bhopal/service/handyman-annual-maintenance.html">
<img  src="https://www.serviceonwheel.com/uploads/service/785001670415944.png" alt="Handyman Annual maintenance" class="circle">
<span >
<span>
<h3 itemprop="name">Handyman Annual maintenance</h3>
<span itemprop="description" style="display:none"></span>
</span>
</span>

</a>
</li>
</ul>
</div>


<div class="col-md-3 col-sm-3 col-xs-6">
<ul class="category-subservice-list">
<li class=" hoverable valign-wrapper">
<a href="bhopal/service/home-construction.html">
<img  src="https://www.serviceonwheel.com/uploads/service/57401670416157.png" alt="Home Construction" class="circle">
<span >
<span>
<h3 itemprop="name">Home Construction</h3>
<span itemprop="description" style="display:none"></span>
</span>
</span>

</a>
</li>
</ul>
</div>


<div class="col-md-3 col-sm-3 col-xs-6">
<ul class="category-subservice-list">
<li class=" hoverable valign-wrapper">
<a href="bhopal/service/website.html">
<img  src="https://www.serviceonwheel.com/uploads/service/704681670311818.png" alt="Website" class="circle">
<span >
<span>
<h3 itemprop="name">Website</h3>
<span itemprop="description" style="display:none"></span>
</span>
</span>

</a>
</li>
</ul>
</div>


<div class="col-md-3 col-sm-3 col-xs-6">
<ul class="category-subservice-list">
<li class=" hoverable valign-wrapper">
<a href="bhopal/service/movers-and-packers.html">
<img  src="https://www.serviceonwheel.com/uploads/service/376541670311524.png" alt="Movers and packers" class="circle">
<span >
<span>
<h3 itemprop="name">Movers and packers</h3>
<span itemprop="description" style="display:none"></span>
</span>
</span>

</a>
</li>
</ul>
</div>


<div class="col-md-3 col-sm-3 col-xs-6">
<ul class="category-subservice-list">
<li class=" hoverable valign-wrapper">
<a href="bhopal/service/photographer.html">
<img  src="https://www.serviceonwheel.com/uploads/service/145401670412364.png" alt="Photographer" class="circle">
<span >
<span>
<h3 itemprop="name">Photographer</h3>
<span itemprop="description" style="display:none"></span>
</span>
</span>

</a>
</li>
</ul>
</div>


<div class="col-md-3 col-sm-3 col-xs-6">
<ul class="category-subservice-list">
<li class=" hoverable valign-wrapper">
<a href="bhopal/service/solar.html">
<img  src="https://www.serviceonwheel.com/uploads/service/550721670307346.png" alt="Solar" class="circle">
<span >
<span>
<h3 itemprop="name">Solar</h3>
<span itemprop="description" style="display:none"></span>
</span>
</span>

</a>
</li>
</ul>
</div>


<div class="col-md-3 col-sm-3 col-xs-6">
<ul class="category-subservice-list">
<li class=" hoverable valign-wrapper">
<a href="bhopal/service/electronic-appliances-annual-maintenance.html">
<img  src="https://www.serviceonwheel.com/uploads/service/562981670304248.png" alt="Electronic appliances Annual maintenance" class="circle">
<span >
<span>
<h3 itemprop="name">Electronic appliances Annual maintenance</h3>
<span itemprop="description" style="display:none"></span>
</span>
</span>

</a>
</li>
</ul>
</div>


<div class="col-md-3 col-sm-3 col-xs-6">
<ul class="category-subservice-list">
<li class=" hoverable valign-wrapper">
<a href="bhopal/service/security-guard.html">
<img  src="https://www.serviceonwheel.com/uploads/service/278551670412874.png" alt="Security Guard" class="circle">
<span >
<span>
<h3 itemprop="name">Security Guard</h3>
<span itemprop="description" style="display:none"></span>
</span>
</span>

</a>
</li>
</ul>
</div>


<div class="col-md-3 col-sm-3 col-xs-6">
<ul class="category-subservice-list">
<li class=" hoverable valign-wrapper">
<a href="bhopal/service/physiotherapy.html">
<img  src="https://www.serviceonwheel.com/uploads/service/404991670412164.png" alt="Physiotherapy" class="circle">
<span >
<span>
<h3 itemprop="name">Physiotherapy</h3>
<span itemprop="description" style="display:none"></span>
</span>
</span>

</a>
</li>
</ul>
</div>


</div>
</div>