<section class="section-booking">
  		<div class="paras1">
  			<p class="book1">ABOUT SERVICE ON FAIR</p>
  			<p class="book2">Service on fair has a vision of creating happy households. Want things fixed? <br>Just tap and relax. Service on fair will manage it all. Solution to all your household problems is now a lot more convenient, fast and reliable</p>
  		</div>

  		<div class="btn1">
  			<button class="btn">Book  A  Fair</button>
  			<button class="btn">Call 8085737624</button>
  		</div>
  		
  	</section>

  	<footer class="background">
  		<p class="text-footer">
  		Copyright &copy; 2022 WWW.SOR.Com - All rights reserved
  		</p>
  	</footer>