 	<nav class="navbar background">
  		<ul class="nav-list1">
            <div class="logo"><p><a href="/" style="text-decoration: none; font-weight:bolder; color:cadetblue;">SOF</a></p></div>
  			<li><a href="/">Home</a></li>
  			<li><a href="/about_us">About</a></li>
  			<li><a href="/service">Service</a></li>
  			<li><a href="/contact_us">Contact</a></li>
  		</ul>

  	    <div class="nav-list2">
  	    	<a href="/login">Login</a>
  	    	<a href="/registration">New User</a>
            <input type="text" name="search" id="search" placeholder="Type Here" class="input">
            <button type="submit" onclick="storeValue();" class="btn btn-sm">search</button>
  		</div>
  	</nav>