<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title></title>
	<link rel="stylesheet" type="text/css" href="./static/css/index.css">
</head>
<body>
	
	{{>navbar}}


  	<section class="background firstsection">
  		<div class="box-main">
  			<div class="firstHalf">
  				<p class="text-big">NEED HELP WITH HOME SERVICES?</p>
  				<p class="text-small">We Connect you with the best home service professionals in your city</p>
               <div class="buttons">
	            <button class="btn">View More Services</button>
             	<button class="btn">watch video</button>
               </div>
  			</div>
  			<div class="secondHalf">

              <div class="image" >
               <img src="./static/images/c1.png">
               <img src="./static/images/c2.png">
               <img src="./static/images/c3.png">
               <img src="./static/images/c4.png">
              </div>
              <div class="image">
               <img src="./static/images/c5.png">
               <img src="./static/images/c6.png">
               <img src="./static/images/c7.png"> 
               <img src="./static/images/c8.png">
              </div>
              <div class="image">
               <img src="./static/images/c9.png">
               <img src="./static/images/c10.png">
               <img src="./static/images/c11.png">
               <img src="./static/images/c12.png">
              </div>
              <div class="image">
               <img src="./static/images/c13.png">
               <img src="./static/images/c14.png">
               <img src="./static/images/c15.png">
               <img src="./static/images/c16.png">
              </div>
  		    </div>
  		</div>
  	</section>

  	<section class="secRight">
  		<div class="paras">
  		<p class="sectionTag text-big">HOW IT WORKS </p>
  		<p class="text-small"> 3 simple steps to Trukky freedom</p>
  		</div>
  		<div class="thumbnail">
  			<img src="./static/images/p1.png" class="imgFluid">
  			<img src="./static/images/arrow.png" class="imgFluid">
  			<img src="./static/images/p2.png" class="imgFluid">
  			<img src="./static/images/arrow.png" class="imgFluid">
  			<img src="./static/images/p3.png" class="imgFluid">
  		</div>

  		<div class="subheading">
  			<p class="h1">BOOK ONLINE OR PHONE</p>
  			<p class="h1">GET BOOKING DETAILS VIA SMS</p>
  			<p class="h1">PAY AFTER WORK IS DONE</p>
  		</div>
  	</section>

  	{{>footer}}

	<script src="./static/js/index.js"></script>
</body>
</html>