<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service</title>
    <link rel="stylesheet" href="../static/css/index.css">

    <style>
        .sd_container{
            min-height: 40rem;
            max-height: auto;
            margin: auto;
            width: 50%;
            padding: 10px;

        }
        .sd_img{
            height: 20rem;
            width: 100%;
        }
    </style>
</head>

<body>
    {{>navbar}}

    <div class="sd_container">
       
        <span><img  src="https://www.serviceonwheel.com/uploads/service/530771670303201.png" alt="Air Conditioner" class="sd_img"></span>
        <div >
        <h2 >Air Conditioner</h2>
        <p>
            Any Air Conditioner equipment if not properly maintained or serviced on-time may lead to a reduced life cycle of air conditioners. If you are searching best AC repair service. Then you should be aware of the ServiceOnFair.com, which connects you with the best AC repair and installation companies for air conditioning service.
        </p> 
        <br>
        <p>
            WE PROVIDE - Air Conditioner repair, air conditioning installation service, Air Conditioner service, Air Conditioner gas charging, Air Conditioner cooling repair, Shifting of Air Conditioner, Air Conditioner repair service, Air conditioning service, HVAC repair service, Air conditioning repair near me.
        </p>
        </div>
        <br>
        <div>
        <a href="/registration_worker" style="text-decoration:none;">
        <button style="font-size:larger; width:100%; height:2.5rem; background-color:teal; color:white">
            Book Now
        </button>
        </a>
        
        <p>
            If you are not going to repair the problem after technician inspection due to any reason, there will be minimum visiting charges Rs.100 for inspection
        </p>
        </div>

    </div>

    {{>footer}}
</body>
</html>