*{
	margin: 0;
	padding: 0;
	

}



.navbar{
	display: flex;
	justify-content: center;
  position: sticky;
  top: 0;
  cursor: pointer;
  font-size: 20px;
}


.nav-list1{
  width: 70%;
/*  background-color: black;*/
  display: flex;
/* justify-content: center;*/
 text-align: center;

}

.nav-list1 li{
 list-style: none;
 padding: 26px 30px;
}



.nav-list1 li a{
	text-decoration: none;
	color: white;

}


.nav-list2 a{
	text-decoration: none;
	color: white;
	padding: 26px 24px;
}

.nav-list2 a:hover{
	background-color: teal ;
}


.nav-list1 li a:hover{
	background-color: teal ;
}

.nav-list2{
	width: 50%;
/*	background-color: purple;*/
	text-align: right;
	padding: 0 23px;
}

.logo{
	width: 20%;
	display: flex;
	justify-content: center;
	text-align: center;
	color: black;
	background-color: seashell;
	padding-top:25px;
	font-size: 20px;
	border: 2px solid black;
	border-radius: 50px;
}


#search{
	padding: 5px;
	font-size: 17px;
	border-radius: 12px;
}


.background{
	background: rgba(0, 0, 0, 0.7) url('../images/bg.jpg');
	background-size: cover;
	background-blend-mode: darken;
}


.firstsection{
	width: 100%;
	height: 100vh;
	flex-direction: column;
	justify-content: center;
}



.firstHalf{
	display: flex;
	flex-direction: column;
	width: 70%;
	justify-content: center;


}



.secondHalf{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 75%;
	background-color: whitesmoke;
	padding: 2px;
	margin-top: 25px;
  border-radius: 50px;
}


.image{
	display: flex;
	justify-content: space-between;
	gap: 35px;
/*	float: right;*/
	width: 10%;
	padding: 40px;
	margin-right: 250px;
/*	padding-right: 12px;*/
/*	background-color:lightcyan;*/
/*	background: cover;*/
}

img{
	width: 100%;
}

img:hover{
	transform: scale(1.3,1);
	transition: .3s transform;
  background-color: #2f2f2f;
}


.box-main{
	display: flex;
	justify-content: center;
	text-align: center;
	color: white;
	max-width: 50%;
	margin: auto;
	height: 80%;
}


.text-big{
	font-size: 41px;
}


.text-small{
	font-size: 18px;
}


.input{
	text-align: center;
	color: black;
}

.btn{
	padding: 8px 20px;
	margin: 7px 3px;
	border: 2px solid white;
	border-radius: 8px;
	background: none;
	color: white;
	cursor: pointer;
}

.btn:hover{
	background-color: teal;
}

.btn-sm{
		padding: 6px 10px;
		vertical-align: middle;
}

.secRight{
	height: 400px;
	display: flex;
	flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width:80%;
  margin: auto;
/*  border: 2px solid black;*/
}


.text-big{
	padding:20px 20px 20px 20px;
  margin-top: 20px;
/*	border: 2px solid black;*/
/*	height: 5vh;*/
}

.text-small{
/*   border: 2px solid black;*/
/*   margin-bottom: 40px;*/
text-align: center;
}

.thumbnail{
	display: flex;
	justify-content: center;
	align-items: center;
/*	border: 2px solid black;*/
	width: 90%;
}

.imgFluid{
/*	border: 1px solid black;*/
/*	width: 100%;*/
margin: 50px;
}

.subheading{
	display: flex;
	justify-content: center;
	align-items: center;
/*	border: 2px solid black;*/
	margin-bottom: 40px;
}

.h1{
/*	border: 2px solid black;*/
	margin: 90px;
	margin-top: 1px;
/*	padding: 0 80px ;*/
}

.text-footer{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px 0;
	color: white;
/*	font-size: ;*/
}

.section-booking{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 400px;
/*	border: 2px solid black;*/
	flex-direction: column;
	background-color: #000;
	color: white;
}

/*
.btn1{
		padding: 8px 20px;
	margin: 7px 3px;
	border: 2px solid white;
	border-radius: 8px;
	background: none;
	color: white;
	cursor: pointer;
}*/

.book1{
	text-align:center;
	font-size: 41px;
	margin-bottom: 40px;
}

.book2{
	text-align: center;
	font-size: 18px;
	margin-bottom: 10px;

}
